<a href="https://colab.research.google.com/github/devtayyabsajjad/Pandas-Learning-Journey-/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<img src="https://pandas.pydata.org/static/img/pandas_white.svg" style="background-color: black; padding: 10px;">


---

## Table of Contents

1. [Introduction to Pandas](#introduction-to-pandas)
2. [Setting Up and Basic Data Structures](#setting-up-and-basic-data-structures)
   - [Installing and Importing Pandas](#installing-and-importing-pandas)
   - [Pandas Data Structures](#creating-a-series-and-dataframe)
3. [Data Loading and I/O Operations](#data-loading-and-io-operations)
   - [Reading Data from Files](#reading-data-from-files)
   - [Writing Data to Files](#writing-data-to-files)
4. [Data Exploration and Manipulation](#data-exploration-and-manipulation)
   - [Exploring Your Data](#exploring-your-data)
   - [Selecting and Filtering Data](#selecting-and-filtering-data)
5. [Handling Missing Data](#handling-missing-data)
   - [Detecting Missing Values](#detecting-missing-values)
   - [Dealing with Missing Values](#dealing-with-missing-values)
6. [Data Aggregation and Grouping](#data-aggregation-and-grouping)
   - [GroupBy Operations](#groupby-operations)
   - [Pivot Tables](#pivot-tables)
7. [Merging, Joining, and Concatenating DataFrames](#merging-joining-and-concatenating-dataframes)
   - [Merging DataFrames](#merging-dataframes)
   - [Concatenating DataFrames](#concatenating-dataframes)
8. [Advanced Pandas Topics](#advanced-pandas-topics)
   - [Applying Functions to Data](#applying-functions-to-data)
   - [Time Series Analysis](#time-series-analysis)
   - [Performance Optimization Techniques](#performance-optimization-techniques)
9. [Common Questions and How to Explain Them](#common-interview-questions-and-how-to-explain-them)


---

## 1. Introduction

  Pandas is a powerful Python library designed for data manipulation and analysis.


**Why Pandas?**  
- **Ease of Use:** Simplifies complex data operations into intuitive commands.
- **Data Analysis:** Offers powerful tools for cleaning, filtering, grouping, and aggregation.
- **Integration:** Works seamlessly with libraries like NumPy, Matplotlib, and Scikit-learn.

---

##2. Setting up and Basic Data Structure

### 2.1 Installing and Importing Pandas

Before using Pandas, ensure that it's installed. You can install it via pip if needed:

```python
# To install pandas, run:
# pip install pandas

# Then, import pandas in your Python script:
import pandas as pd

### 2.2 Pandas Data Structures

Pandas primarily uses two data structures: **Series** and **DataFrame**.

### Series

A Series is a one-dimensional array-like object with labeled indices.
![DataFrame](https://pandas.pydata.org/docs/_images/01_table_series.svg)

In [ ]:
import pandas as pd

# Creating a simple Series
s = pd.Series([10, 20, 30, 40])
print("Series:")
print(s)

### DataFrame

A DataFrame is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns).
![DataFrame](https://pandas.pydata.org/docs/_images/01_table_dataframe.svg)

In [ ]:
# Creating a simple DataFrame
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}  # pandas deal hetrogenous data type
df = pd.DataFrame(data)
print("\nDataFrame:")
print(df)

DataFrame:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

## 3. Data Loading and I/O Operations
Pandas makes it easy to read data from and write data to various file formats such as **CSV**, **Excel**, **JSON**, and **SQL databases**.

In [ ]:
# Example: Reading a CSV file
df = pd.read_csv('/content/output.csv')
print(df.shape)
df.tail(10)

(3, 2)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import seaborn as sns
dataset = sns.load_dataset('titanic')

In [ ]:
# Writing a DataFrame to a CSV file
df.to_csv('output.csv', index=False) # 'False' excludes the index column from the CSV file.

## 4. Data Exploration and Manipulation

### 4.1 Exploring Your Data
Before diving deep, inspect your dataset to understand its structure.



*   head(): Shows the first 5 rows by default.

*   info(): Provides details on data types and missing values.
*   describe(): Summarizes statistical measures like mean and standard deviation.

In [ ]:
# Generate descriptive statistics for numerical columns:
dataset.tail(20)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
# Display the first few rows:
print(df.head())

# Display the last few rows:
print(df.tail())

# Display the random 5 rows:
print(df.sample(5))

# Get a concise summary of the DataFrame (data types, non-null counts):
print(df.info())

# Generate descriptive statistics for numerical columns:
print(df.describe())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q
     PassengerId  Survived  Pclass  \
786          787         1       3
821          822         1       3
1              2         1       1
137          138         0       1
868          869         0       3

                                                  Name     Sex   Age  SibSp  \
786                          Sjoblom, Miss. Anna Sofia  female  18.0      0
821                                  Lulic, Mr. Nikola    male  27.0      0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
137                        Futrelle, Mr. Jacques Heath    male  37.0      1
868                        van Melkebeke, Mr. Philemon    male   NaN      0

     Parch    Ticket     Fare Cabin Embarked
786      0   3101265   7.4958   NaN        S
821      0    315098   8.6625   NaN        S
1        0  PC 17599  71.2833   C85        C
137      0    113803  53.1000  C123        S
868      0    345777   9.5000   NaN        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

### 4.2 Selecting and Filtering Data

* Column Selection: Returns a Series that can be further analyzed.
* .loc vs. .iloc:
** .loc: Access by label.
** .iloc: Access by integer position.
* Conditional Filtering: Extracts rows that meet specific criteria.

### Example Loc vs iloc

In [ ]:
df['Name']

0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object

In [ ]:
import pandas as pd

# Step 1: Create a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)

# Display the DataFrame
print("DataFrame:")
print(df)

# Step 2: Using .iloc (integer-based indexing)
print("\nUsing .iloc to select first row, second column (Age of Alice):")
print(df.iloc[0:2, 0:2])

# Step 3: Using .loc (label-based indexing)
print("\nUsing .loc to select first row, 'Age' column (Age of Alice):")
print(df.loc[0:2, 'Name':'Age'])   # difference question

DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

Using .iloc to select first row, second column (Age of Alice):
    Name  Age
0  Alice   25
1    Bob   30

Using .loc to select first row, 'Age' column (Age of Alice):
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

### When to Use Which?


\begin{array}{|l|l|l|}
\hline
\textbf{Feature}            & \textbf{.iloc (Position-Based)}        & \textbf{.loc (Label-Based)}         \\ \hline
\textbf{Access By}          & \text{Integer position (0, 1, 2, …)}   & \text{Row and column labels (names)} \\ \hline
\textbf{Speed}              & \text{Faster (for large datasets)}     & \text{Slightly slower (label lookup)} \\ \hline
\textbf{Best For}           & \text{Sequential, numeric data}        & \text{Labeled data with conditions}   \\ \hline
\textbf{Condition Filtering} & \text{❌ Not supported}                 & \text{✅ Fully supported}              \\ \hline
\textbf{Example}            & \texttt{df.iloc[2, 1]}                 & \texttt{df.loc[df['Age'] > 30]}       \\ \hline
\end{array}

### Example for Data Filtering

In [ ]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston'],
    'Salary': [50000, 60000, 70000, 80000]
}
df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

# 1. Filter Rows Based on a Single Condition
print("\nFilter rows where Age > 30:\n", df[df['Age'] > 30])

Original DataFrame:
       Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000
3    David   40      Houston   80000

Filter rows where Age > 30:
       Name  Age     City  Salary
2  Charlie   35  Chicago   70000
3    David   40  Houston   80000

In [ ]:
# 2. Filter Rows with Multiple Conditions (AND condition)
print("\nFilter rows where Age > 30 and Salary > 60000:\n", df[(df['Age'] > 30) & (df['Salary'] > 60000)])

Filter rows where Age > 30 and Salary > 60000:
       Name  Age     City  Salary
2  Charlie   35  Chicago   70000
3    David   40  Houston   80000

In [ ]:
# 3. Filter Rows with Multiple Conditions (OR condition)
print("\nFilter rows where Age > 30 OR Salary > 60000:\n", df[(df['Age'] > 30) | (df['Salary'] > 60000)])

Filter rows where Age > 30 OR Salary > 60000:
       Name  Age     City  Salary
2  Charlie   35  Chicago   70000
3    David   40  Houston   80000

In [ ]:
# 4. Filter Specific Columns After Applying Conditions
print("\nFilter rows where Age > 30 and show only 'Name' and 'City':\n", df.loc[df['Age'] > 30, ['Name', 'City']])

Filter rows where Age > 30 and show only 'Name' and 'City':
       Name     City
2  Charlie  Chicago
3    David  Houston

In [ ]:
# 5. Filter Using 'isin()' Method
print("\nFilter rows where City is either 'Chicago' or 'Houston':\n", df[df['City'].isin([Ch'icago', 'Houston'])])

Filter rows where City is either 'Chicago' or 'Houston':
       Name  Age     City  Salary
2  Charlie   35  Chicago   70000
3    David   40  Houston   80000

In [ ]:
# 6. Filter Using String Matching with 'str.contains()'
print("\nFilter rows where City contains 'New':\n", df[df['City'].str.contains('New')])

Filter rows where City contains 'New':
     Name  Age      City  Salary
0  Alice   25  New York   50000

In [ ]:
# 8. Filter Using '.query()' Method
print("\nUsing query method to filter rows where Age > 30 and Salary > 60000:\n", df.query("Age > 30 and Salary > 60000")) # question

Using query method to filter rows where Age > 30 and Salary > 60000:
       Name  Age     City  Salary
2  Charlie   35  Chicago   70000
3    David   40  Houston   80000

In [ ]:
# duplicated
# dataset[dataset.duplicated()]
import pandas as pd

data = {'A': [1, 2, 2, 4, 4, 4], 'B': ['x', 'y', 'y', 'z', 'z', 'z']}
df = pd.DataFrame(data)

# print(df.duplicated(keep=False))  # Checks duplicates across all columns
print(df.duplicated(subset=['A'], keep=False))  # Marks all duplicates in column 'A'

0    False
1     True
2     True
3     True
4     True
5     True
dtype: bool

## 5. Handling Missing Data

### 5.1 Detecting Missing Values
* isnull(): Returns Boolean values indicating missing entries.
* sum(): Aggregates the Boolean values to count missing values per column.

### Example for Detecting Missing Values

In [ ]:
import pandas as pd
import numpy as np

# Sample DataFrame with missing values
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', np.nan, 'David'],
    'Age': [25, np.nan, 30, 40],
    'Salary': [50000, 60000, np.nan, 80000]
})

print("Original DataFrame:")
print(df)

Original DataFrame:
    Name   Age   Salary
0  Alice  25.0  50000.0
1    Bob   NaN  60000.0
2    NaN  30.0      NaN
3  David  40.0  80000.0

In [ ]:
# 1. Checking if any missing values exist
print("\nAny Missing Data in DataFrame?")
print(df.isnull().values.any())

Any Missing Data in DataFrame?
True

In [ ]:
# 2. Detecting missing values (returns a boolean DataFrame)
print("\nDetecting Missing Values:")
print(df.isnull())

Detecting Missing Values:
    Name    Age  Salary
0  False  False   False
1  False   True   False
2   True  False    True
3  False  False   False

In [ ]:
# 3. Counting total missing values in each column
print("\nCount of Missing Values in Each Column:")
print(df.isnull().sum())

Count of Missing Values in Each Column:
Name      1
Age       1
Salary    1
dtype: int64

In [ ]:
# 4. Finding rows with missing data
print("\nRows with Missing Data:")
print(df.isnull().any(axis=1))
# Column vise
print(df.isnull().any(axis=0))

# Finding columns with missing data
print("\nColumns with Missing Data:")
print(df.columns[df.isnull().any()].tolist())
list(df.isnull().any())

Rows with Missing Data:
0    False
1     True
2     True
3    False
dtype: bool
Name      True
Age       True
Salary    True
dtype: bool

Columns with Missing Data:
['Name', 'Age', 'Salary']

[True, True, True]

### 5.2 Dealing with Missing Values

* dropna(): Useful when you can afford to remove rows with missing data.
* fillna(): Replaces missing values to preserve dataset structure.

In [ ]:
import pandas as pd
import numpy as np

# Sample DataFrame with missing values
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', np.nan, 'David'],
    'Age': [25, np.nan, 30, 40],
    'Salary': [50000, 60000, np.nan, 80000]
})

print("Original DataFrame:")
print(df)

# 1. Dropping rows with any missing values
df_drop_any = df.dropna()
print("\n1. After Dropping Rows with Any Missing Values:")
print(df_drop_any)

Original DataFrame:
    Name   Age   Salary
0  Alice  25.0  50000.0
1    Bob   NaN  60000.0
2    NaN  30.0      NaN
3  David  40.0  80000.0

1. After Dropping Rows with Any Missing Values:
    Name   Age   Salary
0  Alice  25.0  50000.0
3  David  40.0  80000.0

In [ ]:
Parameters:
axis=0 → Drops rows with NaN (default).
axis=1 → Drops columns with NaN.
how='any' → Removes rows/columns if any NaN exists (default).
how='all' → Removes rows/columns only if all values are NaN.
subset=['col1', 'col2'] → Drops rows where NaN appears in specific columns.
inplace=True → Modifies the DataFrame directly instead of creating a new one.

In [ ]:

# 2. Dropping rows with all missing values
# df_drop_all = df.dropna(how='all')
# print("\n2. After Dropping Rows with All Missing Values:")
# print(df_drop_all)
# Sample DataFrame with missing values
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', np.nan, 'David'],
    'Age': [25, np.nan, 30, 40],
    'Salary': [50000, 60000, np.nan, 80000]
})

print("Original DataFrame:")
print(df)
df= df.dropna(axis=0, how='any', inplace=False)
print(df)

Original DataFrame:
    Name   Age   Salary
0  Alice  25.0  50000.0
1    Bob   NaN  60000.0
2    NaN  30.0      NaN
3  David  40.0  80000.0
    Name   Age   Salary
0  Alice  25.0  50000.0
3  David  40.0  80000.0

In [ ]:


# 3. Filling missing values with a specific value
df_fill_value = df.fillna('Unknown')
print("\n3. After Filling Missing Values with 'Unknown':")
print(df_fill_value)

3. After Filling Missing Values with 'Unknown':
      Name      Age   Salary
0    Alice     25.0  50000.0
1      Bob  Unknown  60000.0
2  Unknown     30.0  Unknown
3    David     40.0  80000.0

In [ ]:
# 4. Filling missing values with column mean
df_fill_mean = df.fillna(df.mean(numeric_only=True))
print("\n4. After Filling Missing Values with Mean:")
print(df_fill_mean)

In [ ]:
# 5. Forward fill (propagating previous value)
df_ffill = df.fillna(method='ffill')
print("\n5. After Forward Fill (Previous Value):")
print(df_ffill)

In [ ]:

# 6. Backward fill (propagating next value)
df_bfill = df.fillna(method='bfill')
print("\n6. After Backward Fill (Next Value):")
print(df_bfill)

In [ ]:

# 7. Replacing missing values with median
df_fill_median = df.fillna(df.median(numeric_only=True))
print("\n7. After Replacing Missing Values with Median:")
print(df_fill_median)

## 6. Data Aggregation and Grouping

### 6.1 GroupBy Operations
* groupby(): Segments data into groups based on a specified key.
** For example: If you have a DataFrame with employees and departments, groupby('Department') will group all employees by their department.

### Example for groupby

In [ ]:

import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Department': ['IT', 'HR', 'IT', 'HR', 'Finance'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Salary': [60000, 50000, 55000, 52000, 70000]
})

# Grouping by 'Department' (No Aggregation)
grouped = df.groupby('Department')

# Displaying a specific group (e.g., "IT" Department)
print(grouped.get_group('IT'))

  Department Employee  Salary
0         IT    Alice   60000
2         IT  Charlie   55000

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Department': ['IT', 'HR', 'IT', 'HR', 'Finance'],
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Salary': [60000, 50000, 55000, 52000, 70000]
})

# Grouping by 'Department' (No Aggregation Yet)
grouped = df.groupby('Department')

# Iterate through groups
for name, group in grouped:
    print(f"\nDepartment: {name}")
    print(group)

Department: Finance
  Department Employee  Salary
4    Finance      Eve   70000

Department: HR
  Department Employee  Salary
1         HR      Bob   50000
3         HR    David   52000

Department: IT
  Department Employee  Salary
0         IT    Alice   60000
2         IT  Charlie   55000

### Aggregation
* Aggregation: Applies functions like mean to summarize data within groups.
** After grouping, aggregation means applying a function (like sum(), mean(), count(), etc.) to summarize the groups.

### Examples for Aggregation

In [ ]:
# 1. Group by 'Department' and calculate the total salary
print("\nTotal Salary by Department:")
print(df.groupby('Department')['Salary'].sum())

Total Salary by Department:
Department
Finance     70000
HR         102000
IT         115000
Name: Salary, dtype: int64

In [ ]:
# 2. Group by 'Department' and count the number of employees
print("\nNumber of Employees in Each Department:")
print(df.groupby('Department')['Employee'].count())

Number of Employees in Each Department:
Department
Finance    1
HR         2
IT         2
Name: Employee, dtype: int64

In [ ]:
# 3. Group by 'Department' and calculate the average salary
print("\nAverage Salary by Department:")
print(df.groupby('Department')['Salary'].mean())

Average Salary by Department:
Department
Finance    70000.0
HR         51000.0
IT         57500.0
Name: Salary, dtype: float64

In [ ]:
# Group by 'Department' and apply multiple aggregation functions
result = df.groupby('Department').agg({
    'Salary': ['mean', 'sum', 'max', 'min', 'count']
})

print("\nAggregated Data:")
print(result)

Aggregated Data:
             Salary
               mean     sum    max    min count
Department
Finance     70000.0   70000  70000  70000     1
HR          51000.0  102000  52000  50000     2
IT          57500.0  115000  60000  55000     2

### 6.2 Pivot Tables
A pivot table helps you organize and summarize your data. Imagine you have a messy table of information, and you want to quickly find answers like:

💰 What is the average salary by department?

📊 How many people are in each city?

Pivot tables make it easy to group and analyze this kind of information!

In [ ]:
import pandas as pd

# Create a DataFrame (like a table)
df = pd.DataFrame({
    'Department': ['HR', 'IT', 'HR', 'IT', 'Sales'],
    'City': ['New York', 'New York', 'LA', 'LA', 'New York'],
    'Salary': [50000, 60000, 52000, 65000, 70000]
})

# Create a pivot table
pivot_table = pd.pivot_table(df, values='Salary', index='Department', columns='City', aggfunc='mean')

print(pivot_table)

City             LA  New York
Department
HR          52000.0   50000.0
IT          65000.0   60000.0
Sales           NaN   70000.0

### Why Use Pivot Tables?
* Summarize large amounts of data quickly.

* Compare across multiple categories (e.g., City and Department).

* Find patterns (e.g., which city pays the most).

## 7. Merging, Joining, and Concatenating DataFrames

### 7.1 Merging DataFrames
* Merging: Combines DataFrames similar to SQL joins using a common key.
* how Parameter: Determines the type of join (inner, left, right, outer).

#### Inner Join
* Only common records in both. (Discription)
* Rows present in both tables. (Output)

#### Left Join
* All records from left table. (Discription)
* Rows present in both tables. (Output)

#### Right Join
* All records from right table. (Discription)
* All rows from the right + matching ones from left. (Output)

#### Outer join
* All records from both. (Discription)
* All rows from both tables, missing values as NaN. (Output)

#### Note: By default, pd.merge() performs an inner join

#### Inner Join
* Only common records in both. (Discription)
* Rows present in both tables. (Output)

In [ ]:
import pandas as pd

# DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Salary': [60000, 70000, 80000]
})

print("Original DataFrames:")
print(df1, "\n")
print(df2, "\n")
# 1. Inner Join (Only Common Records)
print("Inner Join:")
print(pd.merge(df1, df2, on='ID', how='inner'), "\n")

Original DataFrames:
   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie

   ID  Salary
0   2   60000
1   3   70000
2   4   80000

Inner Join:
   ID     Name  Salary
0   2      Bob   60000
1   3  Charlie   70000

#### Left	Join
* All records from left table. (Discription)
* All rows from the left + matching ones from right. (Output)

In [ ]:
import pandas as pd

# DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Salary': [60000, 70000, 80000]
})

print("Original DataFrames:")
print(df1, "\n")
print(df2, "\n")
# 2. Left Join (All Records from Left Table)
print("Left Join:")
print(pd.merge(df1, df2, on='ID', how='left'), "\n")

Original DataFrames:
   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie

   ID  Salary
0   2   60000
1   3   70000
2   4   80000

Left Join:
   ID     Name   Salary
0   1    Alice      NaN
1   2      Bob  60000.0
2   3  Charlie  70000.0

#### Right Join
* All records from right table.	(Discription)
* All rows from the right + matching ones from left. (Output)

In [ ]:
import pandas as pd

# DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Salary': [60000, 70000, 80000]
})

print("Original DataFrames:")
print(df1, "\n")
print(df2, "\n")
# 3. Right Join (All Records from Right Table)
print("Right Join:")
print(pd.merge(df1, df2, on='ID', how='right'), "\n")

Original DataFrames:
   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie

   ID  Salary
0   2   60000
1   3   70000
2   4   80000

Right Join:
   ID     Name  Salary
0   2      Bob   60000
1   3  Charlie   70000
2   4      NaN   80000

#### Outer Join
* All records from both. (Discription)
* All rows from both tables, missing values as NaN. (Output)

In [ ]:
import pandas as pd

# DataFrames
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Salary': [60000, 70000, 80000]
})

print("Original DataFrames:")
print(df1, "\n")
print(df2, "\n")

# 4. Outer Join (All Records from Both Tables)
print("Outer Join:")
print(pd.merge(df1, df2, on='ID', how='outer'))

Outer Join:
   ID     Name   Salary
0   1    Alice      NaN
1   2      Bob  60000.0
2   3  Charlie  70000.0
3   4      NaN  80000.0

### 7.2 Concatenating DataFrames
Concatenating DataFrames in pandas means combining them either vertically (rows) or horizontally (columns) without requiring a common key. You can use the pd.concat() function for this.

### Examples of Concatenation

In [2]:
import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Age': [25, 32]
})

df2 = pd.DataFrame({
    'Name': ['Charlie', 'David'],
    'Age': [30, 40]
})

# Concatenating DataFrames vertically
result = pd.concat([df1, df2], axis=0)
# result = pd.concat([df1, df2], keys=['DF-1', 'DF-2'], axis=0)  # keys Parameter: Labels each DataFrame with a custom name (DF-1, DF-2).

print(result)

      Name  Age
0    Alice   25
1      Bob   32
0  Charlie   30
1    David   40

## 8. Advanced Pandas Topics

### 8.1 Applying Functions to Data
* The .apply() function in Pandas allows you to execute a custom function on each element of a Series (single column) or DataFrame (entire dataset).

* It is useful when you need to perform complex transformations that are not covered by standard Pandas methods.



> About **Lambda**: A lambda function is a small anonymous function defined with the lambda keyword. It can have any number of input parameters but only one expression. The expression is evaluated and returned when the lambda function is called.
```
lambda arguments: expression
```

In [ ]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 32, 30]
})

print("Original DataFrame:")
print(df)

# Apply a lambda function to increase age by 5
df['Age'] = df['Age'].apply(lambda x: x + 5)

print("\nAfter Applying Function (Increase Age by 5):")
print(df)

Original DataFrame:
      Name  Age
0    Alice   25
1      Bob   32
2  Charlie   30

After Applying Function (Increase Age by 5):
      Name  Age
0    Alice   30
1      Bob   37
2  Charlie   35

### 8.2 Time Series Analysis
* Time series analysis involves working with data points recorded over time intervals (e.g., daily, monthly, yearly).
* It is useful for analyzing trends, identifying seasonal patterns, and making future predictions based on historical data.

In [ ]:
import pandas as pd

# Create a time series DataFrame
date_range = pd.date_range(start='2023-01-01', periods=10, freq='D')
df = pd.DataFrame({
    'Date': date_range,
    'Sales': [100, 120, 130, 125, 150, 160, 170, 180, 190, 200]
})

# Set 'Date' as the index
df.set_index('Date', inplace=True)

print("Time Series DataFrame:")
print(df)

Time Series DataFrame:
            Sales
Date
2023-01-01    100
2023-01-02    120
2023-01-03    130
2023-01-04    125
2023-01-05    150
2023-01-06    160
2023-01-07    170
2023-01-08    180
2023-01-09    190
2023-01-10    200

#### When is Time Series Analysis Used?
* Sales Forecasting – Predicting future sales.
* Stock Prices – Analyzing market trends.
* Weather – Tracking temperature changes.

## 9. Common Questions and How to Explain Them




1. **Difference between Series and DataFrame?**  
   **Answer:**  
   - **Series:** Single column of data with an index.
   - **DataFrame:** Collection of Series sharing the same index, supporting heterogeneous data.


2. **Difference between `.loc` and `.iloc`?**  
   **Answer:**  
   - **.loc:** Label-based indexing.
   - **.iloc:** Integer position-based indexing.

3. **What are GroupBy operations?**  
   **Answer:**  
   - Use `df.groupby(key).agg(func)` to split data by key, apply aggregation (mean, sum, etc.), and combine results.

4. **What are the main components of Time Series data?**

* Trend: Long-term movement (e.g., increasing sales over years).
* Seasonality: Regular patterns over a fixed time (e.g., holiday sales spikes).
* Cyclic: Irregular patterns (e.g., economic booms or recessions). (Koi aise patterns jo bar bar aate hain, lekin fixed time period nahi hota.)
* Residual (Noise): Random variations not explained by trends or cycles.

5. **What is the difference between Time Series and Cross-Sectional Data?**

* Time Series: Data collected over time (e.g., daily stock prices).
* Cross-Sectional: Data collected at a specific point in time (e.g., customer survey responses).

## Quick Recap of the Pandas Notebook
### 1. Introduction to Pandas
Pandas is a Python library used for data manipulation and analysis.

### 2. Basic Data Structures
* Series: A one-dimensional array with labeled data (like a column in Excel).
* DataFrame: A two-dimensional table with rows and columns (like a spreadsheet).
### 3. Data Loading & I/O Operations
* Read Data: Load data from CSV, Excel, and databases.
* Write Data: Export data to different formats like CSV, Excel, or SQL.
### 4. Data Exploration & Manipulation
* Exploring Data: Understand data using methods to view shape, statistics, and summaries.
* Selecting Data: Extract specific rows and columns for analysis.
* Filtering Data: Apply conditions to filter records.
### 5. Handling Missing Data
* Detecting Missing Values: Identify where data is missing.
* Dealing with Missing Values: Replace missing values or remove them based on the requirement.
### 6. Aggregation & Grouping
* GroupBy Operations: Summarize data by grouping on one or more columns.
* Pivot Tables: Rearrange and summarize data for better analysis.
### 7. Merging & Concatenating Data
* Merging: Combine data from different DataFrames based on common columns. (Inner, Left, Right, Outer)
* Concatenating: Stack DataFrames vertically or horizontally.
### 8. Advanced Topics
* Applying Functions: Perform complex calculations across rows or columns.
* Time Series Analysis: Handle date and time-based data for advanced insights.